.container {
    /* border: 1px green solid; */
    /* view height */
    height: 100vh;
    width: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center; /* centered on x axis */
    justify-content: center; /* centered on y axis */
}

.red, .yellow, .blue, .green, .orange {
    height: 200px;
    width: 200px;
    display: flex; /* give display of flex in order to give flex commands */
    justify-content: center;
    align-items: center;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
    order: -1;
}

.blue {
    background-color: blue;
    align-self: flex-end;
}

.green {
    background-color: green;
    align-self: flex-start;
    order: -2;
}

.orange {
    background-color: orange;
    align-self: flex-end;
    order: -2;
}
